body{
    background-color: darkgray;
    color:black;
}
@media screen and (max-width: 600px) {
    body{
        background-color: green;
    }
}
.ul{
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: sticky;
    position:-webkit-sticky;
    top: 10px;
    
    background-color: antiquewhite;
    height: 60px;
    padding-top: 10px;
    border-radius: 20px;
}
 .li {
    display: inline;
    float: left;
    width:120px;
    font-size: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-left: 100px;
    border: 1px solid grey;
}
.a{
    display: block;
    padding: 13px;
       
   
    color: red;
    text-align: center;
}

        .h1{
            text-decoration: underline;
        }
        .button{
            text-decoration: none;
            color:crimson;
        }
        .form{
          width: 400px;
          padding: 30px;    
      }