body{
    background-color: darkgray;
    color:black;
}

@media screen and (max-width: 600px) {
    body{
        background-color: green;
    }
}
.ul{
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: sticky;
    position:-webkit-sticky;
    top: 10px;
    
    background-color: antiquewhite;
    border: 2px solid black;
    height: 60px;
    padding-top: 10px;
    border-radius: 20px;

}
 .li {
    display: inline;
    float: left;
    width:120px;
    font-size: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-left: 100px;
    border: 1px solid grey;
    
    
}
.li:hover{
    scale: 1.1;
    background-color: aqua;

}
.a{
    display: block;
    padding: 13px;
       
   
    color: red;
    text-align: center;
}

        .ul{
            color: blue;
        }
        .h1{
            text-decoration: underline;
            animation-name: animation1;
            position: relative;
            animation-duration: 4s;
            color:rgb(24, 85, 85);
            
        }
        @keyframes animation1 {
            from{
                color:darkgray;
            }
            to{
                color:rgb(24, 85, 85);
            }
        }
        .button{
            text-decoration: none;
            color:crimson;
        }
    .img1:hover{
        transition: 2s;
        scale: 1.1;
    }
    .img2:hover{
        transition: 2s;
        scale: 1.1;
    }
    .img3:hover{
        transition: 2s;
        scale: 1.1;
    }
.img1{
    margin-left: 500px;
    box-shadow: 10px 15px 10px;
}
.img2{
    margin-left: 500px;
    box-shadow: 10px 15px 10px ;
}
.img3{
    margin-left: 500px;
    box-shadow: 10px 15px 10px ;
}
.b1{
    
        box-shadow: 10px 10px 15px;
        margin-left: 30px;
    }
    .b1:hover{
        background-color: aqua;
        scale: 1.1;
    }
