body{
    background-color: darkgray;
    color:black;
}
.navbar{
    border: 1px solid ;
    border-radius: 5px; 
    height: 42px;
    position: fixed ;
    width: 1200px;
    font-size: 18px;
    background-color: antiquewhite;
    
}
#navbar1{
    float: left;
    margin-left: 30px;
    padding-left: 30px;
    

}
#navbar2{
    float: left;
    margin-left: 60px;
    padding-left: 30px;
}
#navbar3{
    float: left;
    margin-left: 90px;
    padding-left: 30px;
}
#navbar4{
    float: left;
    margin-left: 120px;
    padding-left: 30px;
}
#navbar5{
    float: left;
    margin-left: 150px;
    padding-left: 30px;
}
.link{
    color:red;
  }  
        .ul{
            color: blue;
        }
        .h1{
            text-decoration: underline;
        }
        .button{
            text-decoration: none;
            color:crimson;
        }